.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
    margin-top:10px;
    font-size:18pt;
}

/* **** */

body {
	padding-bottom:10px;
}

h1 {
	font-size:14pt;
	font-weight:bold;
	font-family:Times New Roman;
}

h2 {
	font-size:13pt;
	font-weight:bold;
	font-family:Times New Roman;
}

h3 {
	font-size:13pt;
	font-family:Times New Roman;
}

div.header {
	font-size:16pt;
	font-family:Times New Roman;
	font-weight:bold;
	border-bottom:2px solid #DDD;
	padding-bottom:2px;
	margin-bottom:5px;
}

div.wiki {
	font-family:Proxima Nova,Helvetica,Verdana,sans-serif,Sans Serif;
}
div.wiki p {
	font-size:12pt;
}



#head_row {
	margin-bottom:10px;
}

#head_body {
/*	border:1px solid #EEE;	padding:2px;*/
}



#page_row {
	margin-bottom:10px;
}

#page_body {
/*	border:1px solid #EEE;	padding:2px;*/
	padding-right:5px;
	padding-left:5px;
}



#quiz_row {
	margin-bottom:10px;
}

#quiz_body {
/*	border:1px solid #EEE;	padding:2px;*/
}

#quiz_sidebar {
/*	border:1px solid #EEE;	padding:2px;*/
}


#foot_row1 {
}

#foot_row2 {
}

#foot_body {
/*	border:1px solid #EEE;	padding:2px;*/
}

#foot_body_l {
	text-align:left;
}

#foot_body_m {
	text-align:center;
}

#foot_body_r {
	text-align:right;
}

div.page_of {
	color:#AAA;
	font-family:Courier;
	font-size:9pt;
}

div.loading {
	color:#AAA;
	font-style:italic;
	text-align:center;
}



/* Wikipedia compatability classes */

div.tright { float:right; clear:right; margin-left:10px; margin-bottom:10px; }
div.tleft { float:left; clear:left; margin-right:10px; margin-bottom:10px; }
.infobox { float:right; margin-left:10px; margin-bottom:10px; }