
div.hint {
	display:none;
}

span.good_answer {
	color:#008000;
}

.quiz_main {
}




div.quiz_adventure_container {
	cursor:pointer;
	cursor:hand;
}

div.quiz_adventure_container:hover {
}

div.quiz_adventure_thumb {
	vertical-align:top;
}

div.quiz_adventure_description {
	vertical-align:top;
}

div.quiz_adventure_label {
	font-family:Verdana;
	font-size:14pt;
}

div.quiz_adventure_text {
	vertical-align:top;
	font-family:Verdana;
	font-size:12pt;
}



span.quiz_gaps_drag_target {
	min-width:100px !important;
}

div.quiz_gaps_drag_item {
	cursor:pointer;
	cursor:hand;
	display:inline-block;
	margin-right:30px;
}

.quiz_gaps_drag_lead {
	font-size:20pt;
}